.map-container{
    position: absolute; 
    z-index: 1;
    right: 0;
    top: 35px;
    margin: 20px;
    width: 400px;
    height: 90%;
}

.map-container span{
    align-self: left;
}


#map {
    height: 100%;
  }
  /* O